.container__card {
    width: 15rem;
    -webkit-animation: slide-in-right 1s both;
    animation: slide-in-right 1s both;

    .card {
        width: 10rem;
        margin: 1rem;
        &:hover {
            transition: transform 0.4s;
            transform: scale(1.1);
            border: 1px solid black;
        }
    }
}

@-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
