.container__card {
    width: 12rem;
    height: 15rem;
    -webkit-animation: slide-in-right 1s both;
    animation: slide-in-right 1s both;
    margin-bottom: 1rem;

    .card {
        width: 8rem;
        margin: 1rem;
        margin-left: 1.2rem;

        .card__content {
            height: 2rem;
            .description {
                font-size: 0.7rem;
            }
        }

        &:hover {
            transition: transform 0.4s;
            transform: scale(1.1);
            box-shadow: -1px 7px 7px -2px rgba(0, 0, 0, 0.35);
        }
    }
}

@-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
