<app-header [dataSource]="headerComponent" (getHeader)="getHeader($event)"></app-header>

<div class="banner__cards" *ngFor="let item of listByMaker">
    <div class="header">
        <div class="title">{{getMarker(item) | titlecase}}</div>
        <div class="see" (click)="viewByMarker(item)">Ver todo ...</div>
    </div>
    <div class="scroll__cards">
        <app-card class="container__cards" [dataSource]="item" (selectedCard)="selectedCard($event)"></app-card>
    </div>
    <div class="footer">
        <div class="title">Cantidad {{item.length}}</div>
    </div>
</div>